# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.vc.db
*.vc.opendb
Debug/
Release/
x64/
x86/
ARM/
ARM64/
[Bb]in/
[Oo]bj/
*.pdb
*.idb
*.ilk
*.aps
*.ncb
*.opensdf
*.sdf
*.cache
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.ipch
*.iobj
*.ipdb
*.metagen
*.recipe
*.pch
*.obj
*.res

# JetBrains (Rider/CLion)
.idea/
*.DotSettings.user
_ReSharper*/

# VS Code
.vscode/

# Project-specific
OpenGL/Debug/
OpenGL/x64/
OpenGL/OpenGL.vcxproj.user
InitOpenGL.sln.DotSettings.user

# Binaries
*.exe
*.dll
*.lib

# CMake
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
cmake-build-*/

# Others
*.tmp
*.dmp


